<div class="row p-3" style="max-width: 1350px;">
    <div class="col-3">
        <a href="{{ url_for('main.home') }}" class="bookelf-logo f-34 d-inline-block b-1" >
            BookElf <span class="f-14" style="margin-left: -5px;">.in</span>
        </a>
        <p class="f-14 px-1">
            Browse your need of book on BookElf or Join BookElf and share your books with people to spread true knowledge and made accessible it for people of the world.
        </p>
    </div>
    <div class="col-6 border-right">
        <div class="d-flex align-items-center f-14 border-bottom justify-content-center p-3">
            <a class="text-light mx-2" href="{{ url_for('main.explore') }}" title="Explore books on BookElf.in">Explore</a>
            <a class="text-light mx-2" href="{{ url_for('books.book_upload') }}" title="Upload Books on BookElf.in">Upload Book</a>
            <a class="text-light mx-2" href="{{ url_for('pages.privacy') }}" title="Read Privacy Policy of BookElf.in">Privacy Policy</a>
            <a class="text-light mx-2" href="{{ url_for('pages.dmca') }}" >DMCA 2257</a>
        </div>
        {% if quote %}
        <blockquote class="p-3 text-center w-100">
          <q>{{ quote.quote }}</q> <span class="b-3 ">--{{ quote.quote_by }}</span>
        </blockquote>
        {% endif %}
    </div>

    <div class="col-3 text-light">
        <h5 class="f-20 border-bottom pb-2 px-2">&#9888; Cautions</h5>
        <p class="f-12">
            We do not promote any kind of hate or adult content from our platform nor our intention is to infringement of copyright law of any material from any nation. Our only mission is to spread true knowledge and made accessible it for people of the world.
        </p>
    </div>

</div>