<section class="pb-3">
    <!-- Ads -->
    <section></section>
    
    <!-- Tags -->
    <section class="bg-white border mb-3 p-3 rounded">
        <h3 class="h4 ">Programming Tags</h3>        
        <p class='text-muted f-14'>
            Programming is the art of creating programs so here are some tags on it.
        </p>
        <ul class="list-group">
            {% for tag in random_tags %}
                <a title="Books by {{tag.name}}" href="{{ url_for('tags.tag', tag_id=tag.id, t=tag.name) }}" style="text-decoration:none; ">
                    <li class="list-group-item list-group-item-light btn btn-{{tag.color}} category_side" >
                        {{tag.name}}                        
                    </li>
                </a>
            {% endfor %}
        </ul>        
    </section>

    <!-- Ads -->
    <section></section>
    
    <!-- BooksLetterBox -->
    <section class="bg-white border mb-3 p-3 rounded">
        <h3 class="h4 ">Programming Tags</h3>        
        <p class='text-muted f-14'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, voluptas.
        </p>
        <ul class="list-group">
            {% for tag in random_tags %}
                <a title="Books by {{tag.name}}" href="{{ url_for('tags.tag', tag_id=tag.id, t=tag.name) }}" style="text-decoration:none; ">
                    <li class="list-group-item list-group-item-light btn btn-{{tag.color}} category_side" >
                        {{tag.name}}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </section>
    
    <!-- Tags -->
    <section class="bg-white border mb-3 p-3 rounded">
        <h3 class="h4 ">Programming Tags</h3>        
        <p class='text-muted f-14'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, voluptas.
        </p>
        <ul class="list-group">
            {% for tag in random_tags %}
                <a title="Books by {{tag.name}}" href="{{ url_for('tags.tag', tag_id=tag.id, t=tag.name) }}" style="text-decoration:none; ">
                    <li class="list-group-item list-group-item-light btn btn-{{tag.color}} category_side" >
                        {{tag.name}}
                    </li>
                </a>
            {% endfor %}
        </ul>        
    </section>

    <!-- Ads -->
    <section></section>

    <!-- Tags -->
    <section class="bg-white border mb-3 p-3 rounded">
        <h3 class="h4 ">Programming Tags</h3>        
        <p class='text-muted f-14'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla, voluptas.
        </p>
        <ul class="list-group">
            {% for tag in random_tags %}
                <a title="Books by {{tag.name}}" href="{{ url_for('tags.tag', tag_id=tag.id, t=tag.name) }}" style="text-decoration:none; ">
                    <li class="list-group-item list-group-item-light btn btn-{{tag.color}} category_side" >
                        {{tag.name}}
                    </li>
                </a>
            {% endfor %}
        </ul>        
    </section>
    
</section>