<a href="{{ url_for('admins.dashboard') }}" class="sw-navbar-link p-2">
    <div class="sw-navbar-logo bookelf-logo b-2">BookElf</div>
</a>
<div class="sw-tabs py-2 f-14 sharp-txt">

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.dashboard') }}" >
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Dashboard</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.users') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Users</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.books') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Books</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.quotes') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Tags</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.quotes') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Authors</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.quotes') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Publishers</label>
        </a>
    </div>

    <div class="sw-tab py-1 px-2 pl-3" style="border: none;">
        <a href="{{ url_for('admins.quotes') }}">
            <label class="sw-item f-14 b-3 pl-1 text-white mb-0 f-14 pb-1">Quotes</label>
        </a>
    </div>


    
</div>