{% extends 'base.html' %}

{% block meta %}
    <meta title="Browse books by tag on BookElf | BookElf.in ">
    <meta name="description" content="Browse books more effectivly yet effortlessly by tags. Join BookElf and share your books with people to empower our future genration with Knowledge.">
{% endblock meta %}

{% block all %}
<div class="container mt-4">
    <h5 class="f-20 mb-2">PRIVACY STATEMENT</h5>
    <h6>WHAT DO WE DO WITH YOUR INFORMATION?</h6>    
    <p>
        We collect the personal information you give us such as your name, and email address. We also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing (if applicable): With your permission, we may send you emails.
    </p>
    
    <h6>CONSENT</h6>
    <p>How do you get my consent? If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. How do I withdraw my consent? If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at bookelf0921@gmail.org</p>
    
    <h6>DISCLOSURE</h6>
    <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>
        
    
    <h6>SECURITY</h6>
    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. Although no method of transmission over the Internet or electronic storage is 100% secure.</p>
    
    <h6>AGE OF CONSENT</h6>
    <p>
        By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.
    </p>
    
    <h6>CHANGES TO THIS PRIVACY POLICY</h6>
    <p>
        We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.
    </p>
    
    <h6>QUESTIONS AND CONTACT INFORMATION</h6>
    <p>
        If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information than contact us at bookelf0921@gmail.org.
    </p>
    
</div>    
{% endblock all %}