{% extends "apps/admins/base.html" %}
{% import 'macros/forms.html' as input %}

{% block content %}
    <form action="{{ url_for('admins.author_edit', author_id=author.id) }}" class="sw-form" method="POST">
        {{ form.hidden_tag() }}
        <div class="m-3 border-bottom">
            <h1 class="f-28 d-inline-block">Edit Author</h1>
            <button class="sw-btn f-12 px-3 float-right" type="submit">Submit</button>
        </div>
        
        <div class="row m-0 sw-content-section mx-3">
            <div class="col-8">
                <div class="row my-3">
                    <div class="col-4 pl-5">Name</div>
                    <div class="col-8">{{ input.field(form.name, "form-control form-control-sm") }}</div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}