{% extends 'apps/users/login.html' %}
{% import 'macros/forms.html' as input %}
{% block title %}Reset your password{% endblock %}

{% block body %}
  <form class="sw-content-section p-3 text-center" method="POST"  action="{{ url_for('users.begin_password_reset') }}" style="width: 500px;">
      {{ form.hidden_tag() }}
      <legend>Reset your password</legend>
      
      <p class="small help-block sm-margin-bottom">
        We'll send you an email to reset your password.
      </p>

      <div class="m-3 text-left">
        <lable class="f-12 text-left px-2">Email address</lable>
        {% if form.identity.errors %}
            {{ form.identity(class="form-control form-control-sm is-invalid") }}
            <div class="invalid-feedback text-left">
                {% for error in form.identity.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.identity(class="form-control form-control-sm") }} 
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary btn-block">
            Continue
          </button>
        </div>
        <div class="col-md-6">
          <div class="visible-xs visible-sm sm-margin-top"></div>
          <a href="{{ url_for('users.login') }}"
              class="btn btn-default btn-block">
            Back to login
          </a>
        </div>
      </div>
  </form>
{% endblock %}
