{% extends 'base.html' %}
{% import 'components/book_card.html' as book_card %}

{% block meta %}
<meta title="Explore more books on BookElf | BookElf.in ">
<meta name="description" content="Explore more books on BookElf. Join BookElf and share your books with people to empower our future genration with Knowledge.">
{% endblock meta %}

{% block content %}
<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <form class="float-right f-12 mb-1" method="get" role="form">
                    <span>Sort by</span>
                    <select name="s" class="p-1 ml-2" id="sort" value="{{ request.args.get('s', '') }}" >
                        <option value="pop">Popularity</option>
                        <option value="pub">Date</option>
                        <option value="down">Downloads</option>
                        <option value="size">Size</option>
                        <option value="pg">Pages</option>
                    </select>
                    <button type="submit" id="sub_sort" hidden=""></button>
                </form>
                <script type="text/javascript">
                    document.getElementById('sort').onchange = function(){
                        document.getElementById('sub_sort').click();
                    }
                    for (i = 0; i < document.getElementById('sort').options.length; i++) {
                        if ("{{ request.args.get('s', '') }}" == document.getElementById('sort').options[i].value ){
                            document.getElementById('sort').options[i].selected = 'True';
                        }
                    }
                </script>
            </div>
        </div>
    
         {% for book in books.items %}
            {{ book_card.card(book) }}
        {% endfor %}
    
         {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
           {% if page_num %}
              {% if books.page == page_num %}
                  <a class="btn btn-info mb-4" href="{{ url_for('main.explore',s=request.args.get('s'), page=page_num ) }}">{{ page_num }}</a>
              {% else %}
                  <a class="btn btn-outline-info mb-4" href="{{ url_for('main.explore',s=request.args.get('s'), page=page_num ) }}">{{ page_num }}</a>
              {% endif %} 
           {% else %}
              ....
           {% endif %}
         {% endfor %} 
    </div>
    <!-- ads -->
    <div class="col-3">
        <!-- Ads -->
        <div class="row my-3 mx-1">
            <div class="col-12">
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}