{% extends 'base.html' %}
{% import 'components/book_card.html' as book_card %}

{% block all %}
    <div class="row mt-3">
        <div class="col-9">
            <span class="f-14 mx-2">
                Results for search - <u class="b-3">{{ request.args.get('q') }}</u>
                <span class="text-muted ml-2 f-12">
                  (About {{ books.total }} books on {{ books.page }} of {{ books.pages }} Pages)
                </span> 
              </span>
            {% for book in books.items %}
                {{ book_card.card(book) }}
            {% endfor %}

            {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if books.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('main.search',q= request.args.get('q'), s=request.args.get('s'), page=page_num ) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.search',q= request.args.get('q'),s=request.args.get('s'), page=page_num ) }}">{{ page_num }}</a>
                    {% endif %} 
                {% else %}
                ....
                {% endif %}
            {% endfor %} 
        </div>

        <div class="col-3">
            <!-- Ads -->
            <div class="row my-3 mx-1">
                <div class="col-12">
                    
                </div>
            </div>

            <!-- Ads -->
            <div class="row my-3 mx-1">
                <div class="col-12">
                    
                </div>
            </div>

            <!-- Ads -->
            <div class="row my-3 mx-1">
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </div>    
{% endblock all %}